.tarea-formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tarea-input {
  width: 350px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #00471b;
  outline: none;
  transition: transform 0.2s ease-in-out;
}

.tarea-input:hover {
  transform: scale(1.1);
}

.tarea-boton {
  padding: 16px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #00471b;
  color: #fff;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
}

.tarea-boton:hover {
  transform: scale(1.1);
}
